<h2 id="memoryId" data-id="{{memoryId}}">{{ memName }}</h2>

{{#if places}}
<a href="/{{user.firstname}}/{{memoryId}}/memory">Go to your memories</a>
<br></br>
{{!-- target="_blank" --}}
<a href="#" id="zoomOut">Your places:</a>
<br></br>
<ul>
      {{#each places}}
      <li >
        <a href="#" onclick="zoomIn({{this.location}})">{{this.name}}</a> |
        <a href="/{{this._id}}/edit">Edit</a> |
        <a href="/{{this._id}}/delete">Delete</a>
      </li>
      {{/each }}
    </ul>
{{/if}}


    <a href="/{{memoryId}}/new" >Add a new place</a>
    <br></br>
<a href="/{{userName}}/dashboard"> Dashboard </a>
<br></br>

<div id="map"></div>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/leaflet@1.3.2/dist/leaflet.js"
      integrity="sha512-2fA79E27MOeBgLjmBrtAgM/20clVSV8vJERaW/EcnnWCVGwQRazzKtQS1kIusCZv1PtaQxosDZZ0F1Oastl55w=="
      crossorigin=""></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
<script src='/javascripts/memory.js'></script>